@use "../abstract/variables" as *;


header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 900001;
  transition: all 0.3s ease-in-out;

  .header-wrapper {
    max-width: 1920px;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
   
  }
  
    

  form {
    label {
      display: none;
    }
  }

  &.scrolled {
    background-image: unset;
    background-color: $background-color;
  }
}
