@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

/* Mobile Nav
--------------------------------------------- */

.mobile-nav {
  position: absolute;
  .link {
    text-decoration: none;
    z-index: -1;
  }
  ul {
    padding: 0;
  }
  &.active {
    .nav-component:not(li) {
    //   transform: rotate(180deg);
    }
    .hamburger-menu {
      z-index: 10000;
      .hamburger-line {
        transform: rotate(45deg);
        margin-top: -2px;

        &::after {
          top: 0;
          background-color: black;
        }
        &::before {
          top: 0;
          transform: rotate(-90deg);
          background-color: blue;
        }
      }
    }
  }
}
.nav-component {
  -webkit-tap-highlight-color: transparent; //this removes the blue outline box when tapped on mobile
  // plus icon, home, favorites, and about
  border-radius: 50%;
  // Setting small size to be increased on active class
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background-color-secondary;
  background-blend-mode: multiply;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  list-style-type: none;
  border: 2px solid rgb(255, 255, 255);
  color: $font-color-primary;
  position: fixed;
  bottom: 4.5rem;
  right: 2.9rem;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
  :hover {
    cursor: pointer;
  }
}

// Hamburger Settings

.hamburger-menu {
  z-index: 999;
  height: 50px;
  width: 50px;
  position: relative;
  display: grid;
  place-items: center;
  .hamburger-line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-line::after {
    content: "";
    display: block;
    position: absolute;
    top: 8px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-line::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
}

.home-link,
.favorites-link,
.about-link {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: rotate(540deg);
  filter: blur(3px);
  height: 0px;
  width: 0px;
}

.active {
  .home-link,
  .favorites-link,
  .about-link {
    background-color: rgb(31, 30, 30);
    width: 40px;
    height: 40px;
    opacity: 1;
    filter: blur(0px);
    transform: rotate(0deg);
  }

  .home-link {
    bottom: 8.2rem;
    right: 3.5rem;
  }
  .favorites-link {
    right: 6.2rem;
    bottom: 6.4rem;
  }
  .about-link {
    bottom: 3.2rem;
    right: 6.2rem;
  }
}

.nav-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin: auto;
  display: block;
  color: rgb(171, 56, 56);
}


/* Desktop Nav
--------------------------------------------- */

.desktop-nav {
  margin: 0;
  padding: 0;
  display: none;

  ul {
    display: flex;
    justify-content: space-evenly;
    
    font-weight: 600;
    list-style: none;
   
    li {
      width: 100%;
      padding: 0 3rem;
      a {
        color: $font-color-primary;

        text-decoration: none;
        transition: 0.15s all ease-in-out;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

// Media Query to toggle nav

@include mqMin(31.25rem) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
  }
}
