$background-color: rgb(155, 165, 11);
$background-color-secondary: rgb(224, 120, 120);
$font-color-primary: rgb(242, 247, 243);
$font-color-secondary: rgb(139, 139, 139);
$primary-color: rgb(245, 197, 24);
