@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.single-poster {
  display: inline-block;
  position: relative;
  width: 100%;
}

.backside {
  height: 400px;
  object-fit: cover;
  width: 100%;
}


.poster-front {
  width: 200px;
  border-radius: 15px;
  box-shadow: 2px 2px 15px 0 #7d0808;
  left: 8%;
  margin: 0.5rem;
  position: absolute;
  top: -50px;
  z-index: 2;
}

.single-movie-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
}

   
@include mqMin(60em) {
  .single-movie-info .single-movie-header {
    width: 640px;
    grid-column: 2/3;
  }
  
  }
   
@include mqMax(60em) {
  .poster-front{
    display: none;
  }
  }