.single-movie-page {
  padding: 20px;
}

.single-movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-movie-details {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.single-poster {
  margin-bottom: 20px; /* Add margin at the bottom to separate from other content */
}

.single-poster img {
  max-width: 200px;
  height: auto;
}

.single-movie-info p {
  margin-top: 20px;
}

.single-movie-videos {
  margin-top: 20px;
}

.backside {
  -webkit-filter: brightness(50%) blur(1px);
  filter: brightness(50%) blur(1px);
  
  height: 200px;
  object-fit: cover;
  max-width: 100%;
  
}
.poster-front{
box-shadow: 0 5px 15px rgba(0,0,0,.35);
grid-column: 1/7;
grid-row: 1;
height: 200px;
justify-self: center;
object-fit: cover;
z-index: 2;
}
/* Add more styles as needed */
