@use "../abstract/variables" as *;

.search-disclaimer {
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10rem;
}

.sad-face {
  height: 8rem;
  width: 8rem;
  padding: 0.5rem;
  fill: $primary-color;
}

.search-results-section {
  width: 100%;
  margin-top: 150px;
    text-align: center;

  .search-text-container {
    margin-bottom: 2rem;

    .searchHeading {
      color: $font-color-secondary;
      font-style: italic;
    }

    .searchQuery {
      text-align: center;
      margin: 0 auto;
      font-size: 3rem;
    }
  }
}

section.recommended-section {
  text-align: center;
}